@import "tailwindcss";

* {

  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100vw;
}

body {
  background-color: #e5e7eb;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: #6b7280;
  border-radius: 9999px;
}